<section id="Contact">
  <h2>Contactame!</h2>
  <p>
    Si quieres trabajar conmigo puedes enviarme un email a esta direccion <b
      class="tag"
    >
      francozurschmitten@gmail.com
    </b>.
  </p>
  <p>
    Tambien estoy por las redes sociales:
    <ul class="contact-list">
      <li class="tag tag-link">
        <a
          href="https://www.linkedin.com/in/franco-zurschmitten-1b17b5255/"
          target="_blank">Linkedin</a
        >
      </li>
      <li class="tag tag-link">
        <a href="https://github.com/FrancoZurschmitten" target="_blank"
          >Github</a
        >
      </li>
    </ul>
  </p>
</section>

<style>
  .contact-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }
  .tag {
    background-color: rgb(var(--primary-color));
    width: fit-content;
    padding: 0.1rem 0.3rem;
    color: rgb(var(--background-color));
  }
  .tag-link {
    &:hover {
      background-color: rgb(var(--secondary-color));
    }
    a {
      color: rgb(var(--background-color));
      text-decoration: none;
    }
  }
</style>
